// source code: https://codepen.io/EricPorter/pen/GRvMEQP

:root {
  // Scale is using this font-size
  --font-size: 0.8em;

  --bg1: #fff;
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}
ul.infoGraphic {
  // Resize with Ems
  line-height: 1;
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    width: 100%;
    background: var(--bg1);
    padding: 0.5em;
    z-index: 1;
    transition: all 0.2s;

    @include media-breakpoint-up(lg) {
      max-width: 50%;
      &:nth-child(odd) {
        border-right: 3px solid rgba(0, 0, 0, 0.1);
      }

      &:nth-child(even) {
        transform: translateY(50%);
      }
    }

    .numberWrap {
      position: absolute;
    }
    .number {
      font-size: 5em;
      font-weight: 900;
      width: 0.9em;
      text-align: center;

      @include media-breakpoint-up(lg) {
        font-size: 11em;
      }

      &.fontColor1 {
        color: var(--blue);
      }
      &.fontColor2 {
        color: var(--green);
      }
      &.fontColor3 {
        color: var(--purple);
      }
      &.fontColor4 {
        color: var(--gold);
      }
      &.fontColor5 {
        color: var(--red);
      }
      &.fontColor6 {
        color: var(--orange);
      }
    }
    .coverWrap {
      transform: rotate(130deg);
      position: absolute;
      width: 9em;
      height: 9em;
      left: 1em;
      top: -1em;

      @include media-breakpoint-up(lg) {
        width: 18em;
        height: 15em;
        left: -3em;
        top: -1em;
      }

      .numberCover {
        position: absolute;
        background: var(--bg1);
        width: 12em;
        height: 6em;
        border-radius: 50% 50% 0 0;
        border-bottom: 3px solid #f5f8f7;
        transition: all 0.4s;

        @include media-breakpoint-up(lg) {
          width: 18em;

          &:after {
            width: 120%;
            height: 150%;
          }
        }

        &::before {
          position: absolute;
          content: '';
          bottom: 5px;
          left: 4em;
          right: 4em;
          top: 5em;
          box-shadow: 0 0 30px 17px #48668577;
          border-radius: 100px / 10px;
          z-index: -1;
        }
        &::after {
          position: absolute;
          bottom: 0;
          content: '';
          left: -10%;
          width: 100%;
          height: 80%;
          background: radial-gradient(at bottom, #48668533, transparent, transparent);
          z-index: 1;
        }
      }
    }
    .content {
      margin: 8em 0em 2em 0em;
      position: relative;

      @include media-breakpoint-up(lg) {
        margin: 8em 3em 1em 7em;
      }

      h2 {
        font-size: 1.7em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      p {
        line-height: 1.5em;
      }
    }
  }
  i {
    position: absolute;
    font-size: 3rem;
    text-align: center;
    top: -1.3em;
    left: 50%;
    transform: translatex(-50%);
    &:before {
      color: #666;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  }
}
